@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #f9f9f9, #dbeafe);
  color: #1f2937;
  font-family: 'Poppins', sans-serif;
}

button {
  transition: all 0.2s ease;
}
button:hover {
  transform: scale(1.05);
}
